/* CSS PRINCIPAL */
body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;

}

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: #017BFF;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #017BFF;
}

form {
    background: white;
    padding: 45px;
    margin: 20px auto;
    width: 50%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


label {
    display: block;
    margin-top: 30px;
    font-weight: bold;
    text-align: start;
}

.registrateAqui {
    color: #017BFF;
}

.iniciar_sesion {
    color: #017BFF;
}

.No_tienes_Cuenta {
    text-align: center;
    align-items: center;
    margin: auto
}

input,
textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #017BFF;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    width: 105%;
    border-radius: 8px;
    align-items: center;
}

button:hover {
    background: #224fe2;
}

main {
    margin: 20px auto;
    padding: 20px;
    max-width: 700px;
}

input,
textarea {
    align-items: center;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

    max-width: 600px;
}

/* CSS Welcome Page */
.aWelcome {
    color: white;

}

.h1Welcome {
    margin-top: 65px;
    font-family: Arial, sans-serif;
    color: black;
    text-align: center;
    align-items: center;
}

.pWelcome {
    text-align: center;
    font-size: 18px;
    color: black;
}

img {
    width: 20px;
    height: 20px;
    align-items: center;
    margin-right: 5px;
}

/* styling navlist */
#navlist {
    background-color: #017BFF;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0px;
}

/* styling navlist anchor element */
#navlist a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 15px;
}

.navlist-right {
    float: right;
}
#navlist a.Cerrar:hover { 
    color: red; 
} 
